:root {
  --main-bg: rgba(var(--clr-surface-rgb), var(--main-bg-alpha));
}

:root {
  --main-bg-alpha: 0.1;
  --clr-bg-alpha: 0.1;
}

:root {
  --clr-surface: #091009;
  --clr-surface-rgb: 9, 16, 9;
  --clr-surface-1: #171d16;
  --clr-surface-1-rgb: 23, 29, 22;
  --clr-surface-2: #1b211a;
  --clr-surface-2-rgb: 27, 33, 26;
  --clr-surface-3: #252c24;
  --clr-surface-3-rgb: 37, 44, 36;
  --clr-surface-4: #30372f;
  --clr-surface-4-rgb: 48, 55, 47;
  --clr-primary: #34e36a;
  --clr-primary-rgb: 52, 227, 106;
  --clr-on-primary: #003913;
  --clr-on-primary-rgb: 0, 57, 19;
  --clr-primary-container: #00531f;
  --clr-primary-container-rgb: 0, 83, 31;
  --clr-on-primary-container: #69ff89;
  --clr-on-primary-container-rgb: 105, 255, 137;
  --clr-secondary: #b8ccb5;
  --clr-secondary-rgb: 184, 204, 181;
  --clr-on-secondary: #243425;
  --clr-on-secondary-rgb: 36, 52, 37;
  --clr-secondary-container: #3a4b3a;
  --clr-secondary-container-rgb: 58, 75, 58;
  --clr-on-secondary-container: #d4e8d1;
  --clr-on-secondary-container-rgb: 212, 232, 209;
  --clr-tertiary: #a1ced6;
  --clr-tertiary-rgb: 161, 206, 214;
  --clr-on-tertiary: #00363d;
  --clr-on-tertiary-rgb: 0, 54, 61;
  --clr-tertiary-container: #1f4d54;
  --clr-tertiary-container-rgb: 31, 77, 84;
  --clr-on-tertiary-container: #bdeaf3;
  --clr-on-tertiary-container-rgb: 189, 234, 243;
  --clr-error: #ffb4ab;
  --clr-error-rgb: 255, 180, 171;
  --clr-on-error: #690005;
  --clr-on-error-rgb: 105, 0, 5;
  --clr-error-container: #93000a;
  --clr-error-container-rgb: 147, 0, 10;
  --clr-on-error-container: #ffb4ab;
  --clr-on-error-container-rgb: 255, 180, 171;
  --clr-background: #1a1c19;
  --clr-background-rgb: 26, 28, 25;
  --clr-on-background: #e2e3dd;
  --clr-on-background-rgb: 226, 227, 221;
  --clr-on-surface: #e2e3dd;
  --clr-on-surface-rgb: 226, 227, 221;
  --clr-surface-variant: #424940;
  --clr-surface-variant-rgb: 66, 73, 64;
  --clr-on-surface-variant: #c1c9be;
  --clr-on-surface-variant-rgb: 193, 201, 190;
  --clr-outline: #8b9389;
  --clr-outline-rgb: 139, 147, 137;
  --clr-outline-variant: #424940;
  --clr-outline-variant-rgb: 66, 73, 64;
  --clr-shadow: #000000;
  --clr-shadow-rgb: 0, 0, 0;
  --clr-scrim: #000000;
  --clr-scrim-rgb: 0, 0, 0;
  --clr-inverse-surface: #e2e3dd;
  --clr-inverse-surface-rgb: 226, 227, 221;
  --clr-inverse-on-surface: #2e312d;
  --clr-inverse-on-surface-rgb: 46, 49, 45;
  --clr-inverse-primary: #006e2c;
  --clr-inverse-primary-rgb: 0, 110, 44;
}

.encore-dark-theme,
.encore-light-theme,
.encore-light-theme .encore-base-set,
.encore-dark-theme .encore-base-set {
  --background-base: rgba(var(--clr-surface-rgb), var(--clr-bg-alpha));
  --background-highlight: rgba(var(--clr-surface-1-rgb), var(--clr-bg-alpha));
  --background-press: rgba(var(--clr-surface-rgb), var(--clr-bg-alpha));
  --background-elevated-base: rgba(var(--clr-surface-1-rgb), var(--clr-bg-alpha));
  --background-elevated-highlight: rgba(var(--clr-surface-2-rgb), var(--clr-bg-alpha));
  --background-elevated-press: rgba(var(--clr-surface-3-rgb), var(--clr-bg-alpha));

  --background-tinted-base: #ffffff1a;
  --background-tinted-highlight: #ffffff24;
  --background-tinted-press: #ffffff36;
  --text-base: var(--clr-on-surface);
  --text-subdued: var(--clr-on-surface-variant);
  --text-bright-accent: var(--clr-primary);
  --text-negative: #f3727f;
  --text-warning: #ffa42b;
  --text-positive: var(--clr-primary);
  --text-announcement: #4cb3ff;
  --essential-base: #fff;
  --essential-subdued: #7c7c7c;
  --essential-bright-accent: var(--clr-primary);
  --essential-negative: #ed2c3f;
  --essential-warning: #ffa42b;
  --essential-positive: var(--clr-primary);
  --essential-announcement: #4cb3ff;
  --decorative-base: #fff;
  --decorative-subdued: var(--clr-background);
}
.encore-dark-theme .encore-inverted-light-set,
.encore-dark-theme .encore-bright-accent-set {
  --background-base: var(--clr-primary) !important;
  --background-highlight: var(--clr-on-primary) !important;
  --background-press: var(--clr-inverse-primary) !important;
  --background-elevated-base: var(--clr-on-primary) !important;
  --background-elevated-highlight: var(--clr-on-primary) !important;
  --background-elevated-press: var(--clr-inverse-primary) !important;
  --background-tinted-base: var(--clr-primary) !important;
  --background-tinted-highlight: var(--clr-primary) !important;
  --background-tinted-press: var(--clr-primary) !important;
  --text-base: var(--clr-on-primary) !important;
  --text-subdued: var(--clr-primary) !important;
  --text-bright-accent: var(--clr-on-primary) !important;
  --text-negative: #000 !important;
  --text-warning: #000 !important;
  --text-positive: #000 !important;
  --text-announcement: #000 !important;
  --essential-base: #000 !important;
  --essential-subdued: #000 !important;
  --essential-bright-accent: #000 !important;
  --essential-negative: #000 !important;
  --essential-warning: #000 !important;
  --essential-positive: #000 !important;
  --essential-announcement: #000 !important;
  --decorative-base: #000 !important;
  --decorative-subdued: var(--clr-inverse-primary) !important;
}

:root {
  --spice-button: var(--clr-primary);
  --spice-highlight-elevated: var(--clr-surface-2);
  --spice-button-disabled: var(--clr-surface-4);
  --spice-button-active: var(--clr-primary-container);
  --spice-misc: var(--clr-on-surface-variant);
  --spice-subtext: var(--clr-on-surface-variant);
  --spice-tab-active: var(--clr-surface-2);
  --spice-notification-error: var(--clr-error-container);
  --spice-player: rgba(var(--clr-surface-rgb), 0.5);
  --spice-shadow: rgba(var(--clr-surface-rgb), 0.5);
  --spice-notification: var(--clr-tertiary);
  --spice-card: rgba(var(--clr-surface-1-rgb), 0.5);
  --spice-selected-row: var(--clr-on-surface);
  --spice-text: var(--clr-on-surface);
  --spice-main-elevated: var(--clr-surface-1);
  --spice-highlight: var(--clr-surface-2);
  --spice-main: rgba(var(--clr-surface-rgb), 0.5);
  --spice-sidebar: var(--clr-surface);

  --spice-rgb-button: var(--clr-primary-rgb);
  --spice-rgb-highlight-elevated: var(--clr-surface-2-rgb);
  --spice-rgb-button-disabled: var(--clr-surface-4-rgb);
  --spice-rgb-button-active: var(--clr-primary-container-rgb);
  --spice-rgb-misc: var(--clr-on-surface-variant-rgb);
  --spice-rgb-subtext: var(--clr-on-surface-variant-rgb);
  --spice-rgb-tab-active: var(--clr-surface-2-rgb);
  --spice-rgb-notification-error: var(--clr-error-container-rgb);
  --spice-rgb-player: var(--clr-surface-rgb);
  --spice-rgb-shadow: var(--clr-surface-rgb);
  --spice-rgb-notification: var(--clr-tertiary-rgb);
  --spice-rgb-card: var(--clr-surface-1-rgb);
  --spice-rgb-selected-row: var(--clr-on-surface-rgb);
  --spice-rgb-text: var(--clr-on-surface-rgb);
  --spice-rgb-main-elevated: var(--clr-surface-1-rgb);
  --spice-rgb-highlight: var(--clr-surface-2-rgb);
  --spice-rgb-main: var(--clr-surface-rgb);
  --spice-rgb-sidebar: var(--clr-surface-rgb);
}

.e-9890-text,
.main-trackInfo-name,
a:not([data-encore-id]) {
  color: var(--text-base);
}

.IkRGajTjItEFQkRMeH6v {
  --text-subdued: var(--clr-on-surface-variant);
}

.main-contextMenu-menuItemButton:hover,
.main-contextMenu-menuItemButton {
  color: var(--clr-on-surface);
}

.main-contextMenu-menuItemButton.egE6UQjF_UUoCzvMxREj {
  color: rgba(var(--clr-on-surface-rgb), 0.5);
}
.e-9890-button-primary {
  .e-9890-button-primary__inner {
    transition: all 225ms ease-in;
  }

  &:hover .e-9890-button-primary__inner {
    color: var(--clr-primary);
    background-color: var(--clr-on-primary);
  }
}
.main-genericButton-button.main-genericButton-buttonActive {
  color: var(--clr-primary);
}

.main-genericButton-button.main-genericButton-buttonActiveDot:after {
  background-color: var(--clr-primary);
}

.progress-bar {
  --bg-color: rgba(var(--clr-on-secondary-container-rgb), 0.2);
  --mg-color: rgba(var(--clr-on-primary-container-rgb), 0.7);
  --fg-color: var(--clr-on-secondary-container);
  --is-active-fg-color: var(--clr-primary);
}

.Root__nav-bar {
  background-color: var(--main-bg);
}

:root,
body,
#Root,
main,
.Root__top-container,
.Root__globalNav,
#Desktop_LeftSidebar_Id,
.CvxzmyND_aGd2RR8ZoSr /* Right Sidebar - About Artist section */,
.k90FaSa2GhsINq5izwhz,
.N_8iI7NKHP0iG2jp3g0R /* Genre */,
.main-nowPlayingView-contextItemInfo:before,
.ffFwfKcPDbmAPLXzxzKq:before,
.main-yourLibraryX-entryPoints,
.main-yourLibraryX-libraryContainer,
.playlist-playlist-playlistContent {
  background: transparent !important;
}
/* 
main.T0fKO6B7LQSCE_VaSM1P > section {
  background-color: var(--background-base);
} */
.playlist-playlist-actionBarBackground-background,
.main-actionBarBackground-background {
  display: none;
}

.XVz4BMGP5zAEE5p90mYK,
.main-entityHeader-backgroundColor {
  display: none;
}

.kT3dFHdVmU0vyeE71IDE {
  background-color: rgba(var(--clr-on-primary-rgb), 0.3) !important;
  box-shadow: var(--shadow-glass);
  color: var(--clr-on-primary-container);
}

.Button-buttonTertiary-medium-iconOnly-useBrowserDefaultFocusStyle:hover {
  box-shadow: var(--shadow-glass);
  background-color: var(--glass-hover-bg);
}

/* ========== Toggle ========== */
.x-toggle-indicatorWrapper {
  background-color: rgba(var(--clr-on-primary-container-rgb), 0.1);
}

input:hover:not([disabled], :active) ~ .x-toggle-indicatorWrapper {
  background-color: var(--clr-surface-4);
}

input:checked:hover:not([disabled], :active) ~ .x-toggle-indicatorWrapper {
  background-color: var(--clr-primary);
}

input:checked ~ .x-toggle-indicatorWrapper {
  background-color: var(--clr-on-primary-container);
}

input:checked ~ .x-toggle-indicatorWrapper .x-toggle-indicator {
  background-color: var(--clr-primary-container);
}
