.glassify-settings {
  .hidden {
    display: none;
    visibility: hidden;
  }

  .encore-text {
    height: fit-content;
  }

  .x-settings-firstColumn {
    align-items: center;
  }

  .x-settings-section h2 {
    font-size: 0.875rem !important;
  }

  .x-settings-row:has(textarea) {
    grid-template-rows: 2rem 2fr;
    grid-template-columns: auto;
  }

  .loader-wrapper,
  .section-card,
  .section-header {
    width: 100%;
    text-align: center;
    padding: 8px;
    /* margin: 4px 0; */
    border: none;
    box-shadow: var(--shadow-glass);
    border-radius: var(--s-3xl);
    background-color: var(--glass-bg);
  }

  .loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section {
    margin-top: var(--s-md);
  }

  h3 {
    font-size: 0.875rem !important;
    padding-left: 8px;
    font-weight: 600;
  }
}

.dropdown {
  position: relative;
  width: fit-content;
}

.dropdown-button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background: transparent;
  color: var(--clr-on-surface);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown-icon {
  margin-left: 0.5rem;
  transition: transform 0.2s ease;
}

.dropdown-icon.rotate {
  transform: rotate(180deg);
}

.dropdown-overlay {
  z-index: 1000;
  background: none !important;
}
.dropdown-content {
  position: absolute;
  background: var(--background-base);
  box-shadow: var(--shadow-glass);
  border-radius: var(--s-xl);
  margin-top: 0.25rem;
  height: fit-content;
  overflow-y: auto;
  scrollbar-width: none;
  backdrop-filter: blur(16px);
  z-index: 1002;
  opacity: 0;
  pointer-events: none;
}

.dropdown-content.visible {
  opacity: 1;
  pointer-events: auto;
}

.dropdown-item {
  &:last-child {
    border-bottom: none;
  }
}

.dropdown-item-button {
  height: 32px;
  padding: 0.5rem 1.25rem;
  background: none;
  color: var(--clr-on-surface);
  border: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}

.dropdown-item-button:hover {
  background-color: rgba(var(--clr-on-surface-rgb), 0.125);
}

.rcp-field-input,
div.glassify-input-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
  padding: 4px 12px;
  height: 2.5rem;
  transition: all 0.3s ease-in-out;
  background-color: var(--glass-bg);
  color: var(--clr-on-surface);
  border-radius: var(--s-xl);
  font-family: var(--encore-body-font-stack);
  border: none;
  box-shadow: var(--shadow-glass);

  &:hover {
    cursor: pointer;
    background-color: var(--glass-muted-bg);
    border-radius: var(--s-2xl);
  }

  &.number {
    padding: 4px;
  }
}

textarea.glassify-input,
input.glassify-input {
  height: 100%;
  width: 100%;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;

  &[type="number"] {
    width: 3rem;
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.glassify-input-wrapper.textarea {
  width: 100%;
  height: 25vh;

  &:hover {
    border-radius: var(--s-lg);
  }
}

.btn-wrapper,
.btn-wrapper div {
  display: flex;
  gap: 8px;
}

.dropdown-button,
.e-9890-button--small,
.x-settings-button,
.glassify-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: var(--shadow-glass);
  border-radius: var(--s-xl);
  padding: 8px 12px;
  transition: all 0.3s ease-in-out;
  background-color: var(--glass-bg);
  color: var(--clr-on-surface);
  font-family: var(--encore-body-font-stack);

  &:hover,
  &:active {
    cursor: pointer;
    background-color: var(--glass-muted-bg);
  }

  &:hover {
    border-radius: var(--s-xl);
  }
}

.dropdown-button {
  height: 2.5rem;
}

.glassify-button {
  &.icon,
  &.icon-no-border {
    min-height: 2rem;
    min-width: 2rem;
    padding: 8px;

    &:hover {
      box-shadow: var(--shadow-glass);
      border-radius: var(--s-xl);
      background-color: var(--glass-muted-bg);
    }
  }

  &.icon-no-border {
    border: none;
    box-shadow: var(--shadow-glass-no-clr);
    background-color: transparent;

    &:hover {
      border: none;
    }
  }
}

/* Custom Btn colors */
.glassify-button {
  &.discord:hover,
  &.discord:focus {
    background-color: #5865f2;
    color: #e0e0d8;
  }

  &.github:hover,
  &.github:focus {
    color: #2a313c;
    background-color: #f0f6fc;
  }

  &.primary {
    background-color: rgba(var(--clr-primary-container-rgb), 0.25);
    color: var(--clr-on-primary-container);
    &:hover {
      background-color: var(--clr-on-primary-container);
      color: var(--clr-primary-container);
    }
  }
  &.danger {
    background-color: rgba(var(--clr-error-container-rgb), 0.25);
    color: var(--clr-on-error-container);
    &:hover {
      background-color: var(--clr-on-error-container);
      color: var(--clr-error-container);
    }
  }
}

.notification-container {
  position: fixed;
  top: 4rem;
  right: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 9999;
}

.notification {
  animation: slide-in-right 0.3s ease forwards;
  padding: 12px 16px;
  border-radius: var(--s-md);
  border: none;
  z-index: 9999;
  font-size: 14px;
  box-shadow: var(--shadow-glass);
  background-color: var(--background-elevated-base);
  color: var(--clr-on-surface);
  backdrop-filter: blur(24px);
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.fade-out {
    animation: slide-out-right 0.3s ease forwards;
  }

  &.error {
    background-color: rgba(var(--clr-error-container-rgb), 0.7);
    color: var(--clr-on-error-container);
  }

  .notification-close {
    opacity: 0;
    visibility: hidden;
    margin-left: 8px;
    transition: all 0.3s ease-in-out;
  }

  &:hover .notification-close {
    opacity: 1;
    visibility: visible;
  }
}

/* Carousel */
.carousel-wrapper {
  position: relative;
  margin-bottom: 8px;

  button.glassify-button.hide {
    pointer-events: none;
    opacity: 0;
    display: flex !important;
  }

  .glassify-button.icon-no-border {
    height: 32px;
    width: 32px;
    pointer-events: all;
    opacity: 1;
  }

  .search-searchCategory-contentArea {
    min-height: 2.25rem;
    overflow: hidden;
    position: relative;
    height: fit-content;
  }

  .search-searchCategory-categoryGrid {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
    white-space: nowrap;
    width: 100%;
    overscroll-behavior-x: contain;
    will-change: transform;
  }

  .search-searchCategory-carousel {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .search-searchCategory-categoryGrid {
    gap: 4px;
  }
}

.rcp-portal {
  position: fixed;
  z-index: 110;
  max-width: 30rem;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: var(--s-3xl) !important;
}

.rcp-portal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  padding: var(--s-lg);
  padding-left: var(--s-2xl);
}

.rcp-current-color {
  width: 100%;
  height: 32px;
  background-color: var(--current-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rcp-root {
  --rcp-background-color: transparent;
  --rcp-field-label-color: var(--clr-on-surface-variant);
}

.rcp {
  display: flex;
  flex-direction: column;
  background-color: var(--rcp-background-color);
  border-radius: 8px;
}

.rcp-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 8px;
}

.rcp-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rcp-interactive {
  width: 100%;
  height: 100%;
  user-select: none;
  touch-action: none;
}

.rcp-interactive[aria-disabled="true"] {
  cursor: unset;
  pointer-events: none;
}

.rcp-saturation {
  cursor: all-scroll;
  width: 100%;
  position: relative;
  background-image: linear-gradient(to bottom, transparent, black),
    linear-gradient(to right, white, transparent);
  border-radius: 8px 8px 0 0;
}

.rcp-saturation-cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 100%;
  box-shadow: 0 0 15px #00000026;
  transform: translate(-8px, -8px);
}

.rcp-alpha,
.rcp-hue {
  cursor: ew-resize;
  position: relative;
  width: 100%;
  height: 2rem;
  background-image: linear-gradient(
    to right,
    red,
    #ff0,
    #0f0,
    #0ff,
    #00f,
    #f0f,
    red
  );
  border-radius: 8px;
}

.rcp-alpha-cursor,
.rcp-hue-cursor {
  position: absolute;
  width: 1rem;
  height: 2.5rem;
  border: none;
  box-shadow: var(--shadow-glass);
  border-radius: var(--s-md);
  transform: translate(-8px, -0.25rem);
  border-width: 2px !important;

  &:hover {
    border: var(--hover-border);
  }
}

.rcp-fields {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rcp-fields-floor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 8px;
}

.rcp-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rcp-field-input {
  text-align: center;
}

.rcp-field-input:read-only {
  opacity: 0.8;
}

.rcp-field-label {
  font-size: 14px;
  text-align: center;
  color: var(--rcp-field-label-color);
}
